@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Raleway&display=swap");

// google fonts
$special-text: "Ibarra Real Nova", serif;
$regular-text: "Raleway", sans-serif;

// colors
$black: #342729;
$light-brown: #cbc3b6;
$backdrop: rgba(183, 183, 183, 0.44);

html {
  h1,
  h2,
  h3 {
    font-family: $special-text;
  }

  a,
  a:hover {
    color: #000;
    text-decoration: none;
  }

  a,
  p {
    font-family: $regular-text;
    font-size: 18px;
  }

  img {
    object-fit: cover;
  }

  .button {
    border: 1px solid $black;
    font-size: 20px;
    padding: 10px 20px;
    outline: none;

    &:hover {
      background: $black;
      color: #fff;
    }
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;

  .parent {
    display: flex;
    align-items: center;
    padding: 15px 5% 10px;

    img {
      width: 300px;
    }

    .menu-items {
      a {
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .divider {
    flex: 1;
  }

  .active {
    text-decoration: overline;
  }

  .button {
    padding: 5px 20px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    .parent {
      padding: 20px 7%;

      img {
        width: 220px;
      }
    }

    .menu-items {
      position: absolute;
      background-color: $light-brown;
      top: 0;
      right: 0;
      width: 70vw;
      height: 100vh;
      transform: translateX(100%);
      transition: transform 0.2s ease-out;
      z-index: 2;

      &.show {
        transform: translateX(0%);
      }

      // center the links on the navigation drawer
      .center {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .menu-item {
          display: block;
          margin: 20px;
        }
      }
    }

    .menu-backdrop {
      position: absolute;
      background-color: $backdrop;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      display: none;
      z-index: 1;

      &.show {
        display: block;
      }
    }

    .menu-button {
      .bar {
        width: 25px;
        height: 2px;
        background-color: #333;
        margin: 5px 0;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  nav {
    .menu-item {
      margin: 0 10px;

      &:hover {
        text-decoration: overline;
      }
    }

    button {
      display: none;
    }
  }
}

#hero {
  .parent {
    display: flex;

    .header {
      h1 {
        font-size: 50px;
        margin-bottom: 30px;
      }
    }

    .image {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #hero {
    .parent {
      flex-direction: column;
      padding-top: 140px;

      .header {
        width: 80%;
        margin: auto;
        padding-bottom: 60px;
      }

      .image {
        img {
          height: 600px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  #hero {
    .parent {
      .half {
        width: 50%;
        position: relative;
      }

      .header {
        width: 80%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .image {
        img {
          height: 100vh;
        }
      }
    }
  }
}

#application {
  padding: 150px 0;

  .header {
    width: 60%;
    text-align: center;
    justify-content: center;
    margin: auto;

    h2 {
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }
  }

  .wrapper {
    justify-content: center;

    .item {
      margin: 50px;
      min-width: 300px;
      max-width: 445px;

      img {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

#cta {
  text-align: center;
  background: $light-brown;
  padding: 100px 0;

  h2 {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
  }
}

#about {
  padding-top: 150px;

  .row {
    margin: auto;
    justify-content: center;
    padding: 0 5%;

    .image {
      img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    }

    h2 {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 768px) {
  #about {
    .text {
      padding: 30px 30px 0;
    }
  }
}

@media screen and (min-width: 769px) {
  #about {
    .text {
      padding: 60px 30px;
    }
  }
}

#contact {
  padding: 170px 10% 100px;

  .header {
    justify-content: center;

    h2 {
      margin-bottom: 20px;
    }
  }

  .info {
    text-align: center;
    margin-bottom: 50px;

    h3 {
      font-size: 20px;
      margin: 0;
    }

    .col-sm-8 {
      margin: 10px auto;
    }
  }

  .map {
    iframe {
      width: 100%;
      max-width: 1000px;
      height: 400px;
      margin: auto;
    }
  }
}

footer {
  text-align: center;

  p {
    padding: 50px 0;
    margin: 0;
  }
}
